@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: rgb(0, 0, 0);
  --background: linear-gradient(
    to bottom,
    rgb(255, 255, 255),
    rgb(249, 250, 251)
  );
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: rgb(255, 255, 255);
    --background: linear-gradient(
      to bottom,
      rgb(10, 10, 10),
      rgb(0, 0, 0)
    );
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
